django==3.2.15
psycopg2
# psycopg2-binary
django-extensions
graphviz
markdown
django-filter
celery
redis
django-redis
django_select2
pyyaml
docxtpl
python-docx
django-log-viewer
django-session-timeout
django-leaflet
django_compressor
django-machina
auditlog3
six
django-import-export
django-import-export-celery
elasticsearch-dsl>=7.0.0,<8.0.0
pandas
numpy
django-storages[google]
django-resized
django-mathfilters
django-tinymce4-lite
django-cryptography
python-dotenv
SQLAlchemy
cryptography
celery
comtypes
django-ajax-datatable
django-resized
python-magic
openpyxl
django-celery-beat
gevent #untuk running worker biar gak error access dinided